#activity-swing {
    background-image: url('../img/swing.jpg');
    height:100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#toppage-banner {
    background-image: url('../img/bridge.jpg');
    width:100vw;
    height: 100vh;
    
}

#faq {
    background-image: url('../img/swing.jpg');
    /*height:300px;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#intro {
     max-width: 900px;
     display: block;
     margin:auto;
}

#intro h4{
    font-size: 18px;
    text-align: center;
}

label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
label::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .6);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger {
    position: fixed;
    top: 2em;
    left: 2em;
    z-index: 3;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger::before, label .burger .bar, label .burger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: #c8c8c8;
    content: '';
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger .bar {
    top: 44%;
}
label .burger::before {
    top: 0;
    transform-origin: top left;
}
label .burger::after {
    bottom: 0;
    transform-origin: bottom left;
}
input:focus + label .burger, label:hover .burger {
    opacity: 0.75;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: #B93B00;
    content: '';
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
    nav::before {
        width: 30em;
    }
}
nav a {
    margin: 0.5em 0;
    padding: 0.2em 2em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
    color: black;
}
main {
    overflow: hidden;
}
main .content {
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
[id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
    transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
    transform: translateX(3em);
    transform-origin: left center;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    /* quite laggy :S */
}
/* helper */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* misc */
body {
    overflow-x: hidden;
    background: #444;
    color: white;
    font: 1em/1.4 "lato";
    line-height: 1.4 !important;
}
main {
    background: #3498db;
    padding: 5% 0;
}
article {
    width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
}
@media (min-width: 60em) {
    article {
        width: 50%;
    }
}
h1 {
    font: 2.5em/1.4 "roboto condensed";
    font-weight: 700;
}

header #menu-left #btn-menu #menu-burger #menu-circle {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #000000;
    border-radius: 36px;
    opacity: 0;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

#info .nav {
    font-size: 25px;
}

#info .nav .nav-link{
    color: #e0e0e0;
}

#info .nav .nav-link:hover{
    color: #FE5000;
}

#info .nav .active {
    background-color: transparent;
    border-bottom:4px solid #FE5000;
    padding:10px;
    color: #FE5000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.activity-info {
    margin-top:40px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.vcenter{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.price-container {
    position: relative;
    width: 310px;
    height: auto;
    margin: 0 auto;
    padding: 37px 0 21px 0;
    z-index: 10;
}

.price-container > div {
    padding-bottom: 34px;
}

.price-container .price {
    display: block;
    font-family: "TideSansCond-600BunnyItalic", Arial, serif;
    font-size: 42px;
    line-height: 0.85;
    font-weight: normal;
}

.price-container[data-columns="2"] .price-col {
    width: 50%;
}

.price-container[data-columns="1"] .price-col {
    width: 100%;
}

.price-container .price-col {
    float: left;
}

.price-container .price-col .type {
    display: block;
    width: 100%;
    font-family: "TideSansCond-400LilDudeItalic", Arial, serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.price-container .price-col .dollars {
    display: block;
    width: 100%;
    font-family: "TideSansCond-600BunnyItalic", Arial, serif;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    margin-left: -5px;
}

#section07 a {
    padding-top: 80px;
}
#section07 a span {
    position: absolute;
    bottom: 48px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
    bottom: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
    bottom: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent; /* #fff; */
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.bg-transparent {
    background-color: transparent;
}

.bg-gray-light {
    background-color: #f4f4f4;
}

.text-gray-light {
    color: #f4f4f4;
}

.bg-gray-dark {
    background-color: #333;
}

.text-gray-dark {
    color: #333;
}

.bg-orange {
    background-color: #fe6f2e;
}

.text-orange {
    color: #fe6f2e;
}

.text-20 {
    font-size: 20px;
}

.text-18 {
    font-size: 1px;
}

.text-16 {
    font-size: 16px;
}

.text-14 {
    font-size: 14px;
}

.text-12 {
    font-size: 12px;
}

.text-10 {
    font-size: 10px;
}

.btn-orange {
    background-color: #fff;
    border-color: #fe6f2e;
    color: #fe6f2e !important;
}

.btn-orange:hover, .btn-orange:focus {
    background-color: #fe5000;
    border-color: #fe5000;
    color: #fff !important;
}

.bg-orange-bright {
    background-color: #fe5000;
}

.text-orange-bright {
    color: #fe5000;
}

.bg-orange-dark {
    background-color: #7f2800;
}

.text-orange-dark {
    color: #7f2800;
}

/* Calendar */
.month {
    padding: 30px 25px;
    width: 100%;
    background: #fe6f2e;
    text-align: center;
    color: #fff;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px 18px;
}

.month .next {
    float: right;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px 18px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #333;
    text-align: center;
    font-size: 18px;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    vertical-align: top;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 24px;
    color: #777;
}

.days > li > small {font-size: 12px;}

.days li .active {
    padding: 10px;
    background: #fe6f2e;
    color: white !important;
    border-radius: 50%;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

.prev-rounded {
    float: left;
    padding: 20px 25px;
    margin: 20px;
    border: 2px solid #fe6f2e;
    border-radius: 50%;
    font-size: 10px;
}

.next-rounded {
    float: right;
    padding: 20px 25px;
    margin: 20px;
    border: 2px solid #fe6f2e;
    border-radius: 50%;
    font-size: 10px;
}

.pull-right {
    float: right;
}

.save-100 {
    display: none;
}

.save-100:hover {
    display: block !important;
}

/* Calendar arrow buttons */

.arr-div {
  display: inline-block;
  vertical-align: middle;
}

.arr-link {
  display: inline-block;
  border-radius: 50%;
}

.arr-left {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 5px solid #f4f4f4;
  border-radius: 50%;
  margin-right: 1.5em;
}

.arr-left:after {
  content: '';
    display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 5px solid #f4f4f4;
  border-right: 5px solid #f4f4f4;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.arr-right {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 5px solid #f4f4f4;
  border-radius: 50%;
  margin-left: 1.5em;
}

.arr-right:after {
  content: '';
    display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 5px solid #f4f4f4;
  border-right: 5px solid #f4f4f4;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arr-link:hover .arr-left, .arr-link:hover .arr-right{
  border: 5px solid #333;
}

.arr-link:hover .arr-left:after, .arr-link:hover .arr-right:after {
  border-top: 5px solid #333;
  border-right: 5px solid #333;
}

.m-0 {
    margin: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.fixed-footer {
    position: fixed !important;
    bottom: 0 !important;
    width: -webkit-fill-available;
    z-index: 1;
}

.time-month {
    padding: 30px 25px;
    width: 100%;
    color: #fe6f2e;
    text-align: center;
    background: #fff;
}

.time-month ul {
    margin: 10px;
    padding: 10px;
}

.time-month ul li {
    color: #fe6f2e;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.time-month .prev {
    float: left;
    border: 2px solid #fe6f2e;
    border-radius: 50%;
    padding: 10px 18px;
}

.time-month .next {
    float: right;
    border: 2px solid #fe6f2e;
    border-radius: 50%;
    padding: 10px 18px;
}
.time-calendar {
    margin: auto;
    max-width: 700px;
    display: block;
}
.time-calendar tr {
    margin: 15px ;
    padding:10px;
    border-bottom:1px solid #cccccc;
}

.book-form {
    max-width: 800px;
    display: block;
    margin:auto;
}

/* Form CheckBox */

.checkbox label {
    display: inline-block;
    color: #495057;
    cursor: pointer;
    position: relative;
}
.checkbox label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #ced4da;
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}
.checkbox label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
.checkbox label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}
.checkbox label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
    display: none;
}
.checkbox input[type="checkbox"]:checked + label span {
    background-color: #fff;
    transform: scale(1.25);
}
.checkbox input[type="checkbox"]:checked + label span:after {
    width: 10px;
    background: #fe6f2e;
    transition: width 150ms ease 100ms;
}
.checkbox input[type="checkbox"]:checked + label span:before {
    width: 5px;
    background: #fe6f2e;
    transition: width 150ms ease 100ms;
}
.checkbox input[type="checkbox"]:checked + label:hover span {
    background-color: #fff;
    transform: scale(1.25);
}
.checkbox input[type="checkbox"]:checked + label:hover span:after {
    width: 10px;
    background: #fe6f2e;
    transition: width 150ms ease 100ms;
}
.checkbox input[type="checkbox"]:checked + label:hover span:before {
    width: 5px;
    background: #fe6f2e;
    transition: width 150ms ease 100ms;
}